/*************** Header of the Webpage ***************/
.head{
    background: url("https://img.freepik.com/free-vector/yellow-parchment_53876-91513.jpg?w=2000");
    background-size: 100%;
}
.image1{
    text-align: left;
    margin-right: 10px;
    width: 10%;
}
.cont{
    width: 80%;
}
.image2{
    width: 10%;
}


/*************** Body 1 of the Webpage ***************/
.body{
    width: 100%;
}
.cont1{
    background: url("https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg?w=2000");
    background-size: 100%;
    font-size: 17px;
}
.body h2{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/423/634/small/grey-gradient-abstract-backgrounds-free-vector.jpg");
    background-size: 100%;
    text-indent: 6px;
    font-size: 26px;
    padding: 4px;
}
.marquee{
    background: url("https://images.unsplash.com/photo-1495578942200-c5f5d2137def?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YnJpY2slMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: 100%;
    width: 15%;
}
.marquee marquee{
    text-align: center;
    color: yellow;
}


/*************** Body 2 of the Webpage ***************/
.cont2{
    background: url("https://cdn.dribbble.com/users/3091124/screenshots/6635560/pastel-watercolor-texture-background_1083-168_1x.jpg");
    background-size: 100%;
    font-size: 17px;
}
.marquee1{
    background: url("https://images.unsplash.com/photo-1495578942200-c5f5d2137def?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YnJpY2slMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: 100%;
    width: 15%;
}
.marquee1 marquee{
    text-align: center;
    color: white;
}


/*************** Footer of the Webpage ***************/
.foot h1
{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/423/634/small/grey-gradient-abstract-backgrounds-free-vector.jpg");
    background-size: 100%;
    text-indent: 6px;
    font-size: 18pt;
}
.foot1
{
    background: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ymx1ZSUyMGFuZCUyMHB1cnBsZSUyMGdyYWRpZW50fGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: 100%;
    font-size: 15px;
}
.foot2
{
    background: url("https://media.istockphoto.com/id/516684870/vector/damask-floral-pattern-royal-wallpaper.jpg?s=612x612&w=0&k=20&c=5DhxegMM_fp2mNtS-Sb0oyt7wX2fu1yxUEHqKc3i5Ss=");
    background-size: 100%;
    height: 40%;
    text-align: center;
}